*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.sec1 {
    width: 100%;
    height: 100%;
    padding: 1.25rem 0;
    background: #151B2B;
}

.sec1 .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.sec1 .container nav {
    height: 70px;
    display: flex;
    align-items: center;
}

.sec1 .container .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec1 .container .hero .right img {
    width: 500px;
}

.sec1 .container .left {
    width: 450px;
}

.sec1 .container .left .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sec1 .container .left h1 {
    font-size: 44px;
    color: white;
}

.sec1 .container .left .git {
    width: 80px;
    height: 25px;
    border: black;
    background: #f1f1f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.sec1 .container .left .para {
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding-top: 24px;
    line-height: 35px;
}

.sec1 .container .left .sous-para {
    font-size: 16px;
    padding-top: 24px;
    font-weight: 400;
    color: rgb(177, 177, 177);
    line-height: 24px;
}

.sec1 .container .left .git i {
    padding: 0 10px 0 0;
}

.sec1 .container .left .btn {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.github {
    margin-right: 15px;
    padding: 9px 16px 9px 16px;
    background: #454658;
    cursor: pointer;
    border: none;
    color: white;
}

i {
    padding-right: 5px;
}

.discord {
    padding: 9px 16px 9px 16px;
    display: flex;
    align-items: center;
    background: #6578C0;
    border: none;
    cursor: pointer;
    color: white;

}


@media screen and (max-width: 1000px) {
    .sec1 .container .hero {
        flex-direction: column;
        margin-top: 2em;
    }

    .sec1 .container .left .title {
        flex-direction: column;
    }

    .sec1 .container .hero .left .title h1 {
        padding-bottom: 1.5rem;
    }

    .sec1 .container .hero .left {
        text-align: center;
        width: 100%;
    }

    .sec1 .container .hero .left .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec1 .container .hero .right {
        width: 90%;
        text-align: center;
        margin-top: 1.2em;
    }

    .sec1 .container .hero .right img {
        width: 90%;
        text-align: center;
    }
}


/* Section 2 */

.sec2 {
    width: 100%;
    background: #F9F9FD;
    padding: 6.25rem 0;
}

.sec2 .container {
    width: 65%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sec2 .container .title {
    text-align: center;
}

.sec2 .container .title h1 {
    color: #454658;
    padding-bottom: 24px;
    font-size: 32px;
}

.sec2 .container .title p {
    font-size: 16px;
    ;
    font-weight: 400;
    line-height: 24px;
}

.sec2 .container .illus {
    margin-top: 32px;
}

.sec2 .container img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .sec2 .container {
        width: 100%;
    }
}

/* Section 3 */

.sec3 {
    width: 100%;
    background: #F9F9FD;
    padding: 1.25rem 0;
}

.sec3 .container {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sec3 .container .title {
    text-align: center;
}

.sec3 .container .title h1 {
    color: #454658;
    padding-bottom: 24px;
    font-size: 32px;
}

.sec3 .container .title p {
    font-size: 16px;
    ;
    font-weight: 400;
    line-height: 24px;
}

.sec3 .container .code {
    width: 100%;
}

.sec3 .container .code img {
    width: 100%;
}

.sec3 .container .btn {
    display: flex;
    margin-top: 48px;
}


@media screen and (max-width: 1000px) {
    .sec3 .container {
        width: 100%;
    }
}

/* Section 4 */

.sec4 {
    width: 100%;
    background: #F9F9FD;
    padding: 4.25rem 0;
}

.sec4 .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sec4 .container .block {
    width: 450px;
    margin: 1rem 0;
}

.sec4 .container .block h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 24px 0;
}

.sec4 .container .block p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 12px;
}

.sec4 .container .block a {
    color: #5D64D2;
    text-decoration: none;
    font-size: 12px;
}


@media screen and (max-width: 1000px){
    .sec4 .container{
        width: 100%;
    }

    .sec4 .container .block img{
        width: 90%;
    }
}


/* Section 5 */

.sec5{
    width: 100%;
    background: #F9F9FD;
    padding: 10rem 0;
}

.sec5 .container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

/* Footer */

footer{
    width: 100%;
    background: #151B2B;
    padding: 3.25rem 0;
}

footer .container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

footer h2{
    color: white;
}

footer h3{
    color: white;
    padding-top: 0.5rem;
    font-style: italic;
}

footer p{
    color: white;
    padding-top: 0.5rem;
    font-style: italic;
}